<div class="footer">
    <div class="footerBox">
        <h2>ShipBook</h2>
        <p>( +91 ) 9315610276</p>
        <p>help@ShipBook.com</p>
    </div>
    <div class="footerBox3">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>

</div>