<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShipBook | book movie ticket with ShipBook</title>
</head>

<body>
    <%- include('file/header.ejs') %>
        <%- include('file/heroSection.ejs') %>
            <br />
            <h2 class="textfav">favourite movie</h2>
            <div class="movieslist">
                <%- include('./file/Card.ejs') %>
            </div>
            <%- include('file/footer.ejs') %>
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>

</html>