@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body{
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*  Header Css */
.Container{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding: 4px;
    border-bottom: 2px solid #f2f2f2;
}

.Container ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.Container ul li{
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

.Container ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

/* heroSection */
.heroSection {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.Box1{
    width: 50%;
    padding: 20px;
    text-align: start;
    background-color: white;
}
.logo{
    width: 35%;
    border-radius: 6px;
}

.button {
    color: #ecf0f1;
    font-size: 17px;
    background-color: white;
    border: 1px solid #f39c12;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 6px 0px #d35400;
    transition: all 0.1s;
    font-weight: 600;
}
.button:active {
    box-shadow: 0px 2px 0px #d35400;
    position: relative;
    top: 2px;
}
.textfav{
    text-align: center;
    text-transform: capitalize;
}
  
.movieslist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 84%;
    gap: 20px;
    margin: auto;
}

.Card{
    background-color: #fffdfd;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    border: 1px solid #f2f2f2;
    margin-top: 10px;
}
#Home{
    text-decoration: none;
    color: black;
}

.BtnCard{
    padding: 10px;
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
}
.imgLogo{
    width: auto;
    border-radius: 10px;
    max-width: 300px;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 10px;
}
.footerBox{
    min-width: 300px;
    text-align: center;
}
.footerBox3{
    min-width: 300px;
}

.footerBox3 ul li{
    list-style: none;
    padding: 10px;
}
.footerBox3 ul li a{
    text-decoration: none;
    color: white;
}

 
 /* Custom CSS */
 .custom-form {
    background-color: white;
    padding: 20px;
    width: 40%; /* Default width for larger screens */
    margin: auto; /* Center align */
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}
.heaingText{
    font-size: 20px;
    text-align: center;
}
#heaingText{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#special_button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.containerId {
    display: flex;
    width: 62%;
    padding: 10px;
    margin: auto;
    flex-direction: column;
}

.movie-photo {
    border-radius: 5px;
    width: 100%;
}

.dashboardConatiner{
    padding: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#Btnreview{
    margin-top: 10px;
}

.review-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 30px;

  }


  .review-form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }

  .review-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }


  .main-container {
    margin-top: 30px;
    padding: 20px;
}



.header h1 {
    font-size: 2em;
    margin: 0;
}

.form-section {
    margin-top: 20px;
}

.form-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input,
.form-textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-input:focus,
.form-textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.submit-button {
    padding: 10px 15px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
   .containerId{
    width: auto;
   }
   .dashboardConatiner{
    width: auto;
   }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .custom-form {
        width: auto /* 100% width for smaller screens */
    }
}


@media (max-width: 768px) {
    .footer{
        flex-wrap: wrap;
    }
    .footerBox{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .movieslist{
        width: auto;
    }
}

@media (max-width: 768px) {
    .Box1,.logo{
        width: 100%;
    }
    .heroSection {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
   .Container ul{
    display: none;
   }
}
